@import 'nib'
@import '_globals'

$itemTextFont()
  color: $defaultColor
  font-family: 'courier new', 'courier', sans-serif
  line-height: 30px
  min-height: 1.35em
  word-wrap: break-word

.todo-item
  margin-left: 1.5em
  margin-bottom: 0.25em
  padding: 1em
  border: 1px solid rgba($defaultColor, 0.5)
  
  &.active
    background-color: rgba($defaultColor, 0.05)
    border: 1px solid $defaultColor
    
  .content
    position: relative
    display: flex
    align-items: center
    width: 100%
    font-size: 1.5em
    $opacityWithTransition(0.5, 100ms)
    background-color: yellow
  
  &.active
    .content
      opacity: 1
  
  /** Positioning
    */
  .positioning
    order: 1
    width: 50px
    background-color: red
  
  /** Tasks
   */

  .task
    order: 2
    flex-grow: 1
    position: relative
    background-color: orange
    
    .text
      display: block
      padding: 0 0.5em
      width: 100%
      $itemTextFont()
      border: 1px solid transparent
      pointer-events: none
    
    .input
      display: block
      position: absolute
      top: 0
      left: 0
      padding: 0 0.5em
      margin: 0
      width: 100%
      max-width: 100%
      height: 100%
      font-size: 1em
      $itemTextFont()
      border: 1px solid $defaultColor
      outline: 0
      background-color: transparent
      resize: none
  
  /** Buttons
    */

  .buttons
    order: 3
    display: block
    align-self: center
    $opacityWithTransition(0, 150ms)
    pointer-events: none
    background-color: aqua
    cursor: pointer
      
    .completed-btn,
    .delete-btn
      padding: 0.25em
      margin-left: 0.25em
      font-family: sans-serif
      border: 1px solid $defaultColor
      $opacityWithTransition(0.5, 150ms)
      
      &.active
        opacity: 1
        background-color: #fff
  
  &.active
    .buttons
      opacity: 1
      pointer-events: all