<!DOCTYPE html>
<html>
<head>
  <title>ReactRails</title>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="/assets/application.css">
</head>
<body>

  <%= yield %>

  <script type="text/javascript" src="/assets/application.js"></script>
</body>
</html>
